body{
    color: #333333;
    font-family: Cambria;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px

}   

footer{
    color: #888888;
    border-top: 1px solid #eeeeee ;
    margin-top : 16px;
    padding: 16px 0;
}

header
{   border-bottom: #333333 1px dashed;
    margin-top : 16px;
    margin-bottom: 48px;
}

h1{
    font-family: 'Times New Roman';
    font-size: inherit
}


header a{
    color: #444444;
    margin-right: 16px;
    text-decoration: antiquewhite solid ;
}

.portrait{
    width: 20%
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input
{
  border: 1px solid #cccccc;
  padding: 8px
}

