<HTML>

<HEAD>

<TITLE>{{title}} </TITLE>

</HEAD>

<BODY BGCOLOR="FFFFFF">
  <header>
       <script src="../../public/js/app.js"></script> 
<H1>This is a Header   {{>header}}</H1></header>
<link rel="stylesheet" href="./css/styles.css">
<CENTER><a   href="https://www.youtube.com/watch?v=aeW_e7Hi0WI" ><IMG class ="portrait" SRC="/img/ssup.jpg" ALIGN="BOTTOM">{{button}}</a></CENTER>

<footer>
<H2>This is a footer{{>footer}}   </H2></footer>    

</BODY>

</HTML>